@import "~font-awesome/css/font-awesome.min.css";

.Aboutme_content{
    margin: 1rem;
    border: 1px solid #ccc;
    /* padding: 1rem; */
    border-radius: 5px;
  }
  .h2 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-family: sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  padding: 2%;
  }
  
.paragraph{
    text-align: justify;
}
