.ServicesTitle{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2%;
    border-radius: 5px;
}
.image{
    position: relative; 
    background-image: url("../asstes/carecloud.png");
    background-repeat: no-repeat;
   
    background-position: center;
    
}
.careclod{
    text-align: justify;
}
  .careTitle{
    color: rgb(55, 157, 241);
  }
  .responsibility{
    width: fit-content;
    padding: 5px;
    margin-bottom: 1em;
        font-size: smaller;
        /* JUSTIFY-CONTENT: unset; */
        font-variant: petite-caps
  }