* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.section {
  padding: 2rem;
  text-align: center;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}
.img{   
  width: 18%;
}

