
.project {
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.project_image{
	border-radius: 5px;
}
.projectTitle{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2%;
  border-radius: 5px;
}